<div class="fake-modal">
  <img width="100%" height="auto" src="https://images-na.ssl-images-amazon.com/images/I/5122jZUCZcL._SR600,315_SCLZZZZZZZ_.jpg" alt="Photo of a Shiba Inu">
  <h4>{{data.name}}</h4>
  <p><span>Gêneros: </span>{{data.name}}</p>
  <p><span>Autores: </span>{{data.author.name}}</p>
  <p><span>Editora: </span>{{data.publisher.name}}</p>
  <p><span>Ano: </span>{{data.publisher.foundationDate}}</p>
  <a routerLink="/readingbook" routerLinkActive="active" class="btn btn1">ler</a>
</div>
