<div class="container" *ngIf="true">
    <div class="row">
        <div class="col s6 offset-s3 mt-50" *ngIf="false">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Plano</mat-card-title>
                    <mat-card-subtitle>Valor</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions class="right-align">
                    <button mat-raised-button color="warn">Cancelar</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col s6 offset-s3 mt-50 center-align" *ngIf="true">
            <h3>Você não possui plano contratado!</h3>
            <button mat-raised-button color="primary" (click)="onClickRegisterSubscription()">Contratar plano</button>
        </div>
    </div>
</div>
