<h1 class="center-align">Obras</h1>
<div class="container-fluid book-list">
  <div class="row">
    <div *ngFor="let book of books" class="col s3 card-book">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{book.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/I/5122jZUCZcL._SR600,315_SCLZZZZZZZ_.jpg" alt="twd">
        <mat-card-actions class="btn_position">
          <button mat-raised-button (click)="openBottomSheet()">Visualizar</button>
          <button mat-button>Favoritar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
